<div class="large-container center-block">
    <h1><%= @article.title %></h1>
    <p> Made by: <strong><%=@article.user.email%></strong>
    <div>
        <%=@article.content%>
    </div>

    <div class="margin-top">
        <p class="label">Tags</p>
        <% @article.categories.each do |category|%>
            <span class="badge badge-pill padding"style="background-color:<%= category.color %>">
            <%= link_to category.title, category, class:"text-white"%>
        <%end%>
    </div>

    <div>
        <%=link_to "Eliminate Article", @article, method: :delete%>
    </div>
</div>